html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

img {
  width: 100%;
  margin: 0 0 1.5rem;
}

main {
  padding: 1rem;
}

h1 {
  font-family: "Denk One", sans-serif;
  margin: 0 0 1.5rem;
  color: #623b0c;
}

h2 {
  font-family: "Denk One", sans-serif;
  margin: 0 0 1.5rem;
  color: #623b0c;
}

ol {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0 0 auto;
}

/* header {
  font-family: "Denk One", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
} */

a {
  align-items: flex-end;
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  margin: 1.5rem 0 0;
  padding: .5em .75em .6em;
  border-radius: 8px;
}

a:hover,
a:focus {
  background-color: #f5f2f0;
  color: #000;
}
